@use "./base.scss";

:root {
  --bg: #000000;
  --text: #f0f0f8;       /* Почти белый, с лёгким фиолетовым оттенком — но отлично читается */
  --accent: #b98eff;     /* Мягкий насыщенный фиолетовый */
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: var(--accent);
}
